<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment Chapter 5 Topic 3 - View engine EJS</title>
    <link href="<%= css %>" rel="stylesheet" type="text/css" />
  </head>
  <body class="bg-gray-200">
    <div id="hero" class="min-h-[100px] container mx-auto p-8 pb-0">
      <div class="bg-white p-8 shadow overflow-hidden rounded-md">
        <h1 class="text-indigo-600 text-3xl font-extrabold">Hello</h1>
      </div>
    </div>

    <div id="content" class="container mx-auto flex bg-red min-h-screen">
      <div
        id="form-product"
        class="flex-initial w-1/3 flex justify-items-center p-8"
      >
        <form action="<%= form.action %>" method="POST" class="w-full">
          <div class="shadow overflow-hidden rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div id="panel-form">
                <div class="item-form my-4">
                  <label for="nama">Name</label>
                  <br />
                  <input
                    class="w-full border-[1px] border-gray-300 rounded-md shadow-sm p-1"
                    type="text"
                    name="name"
                    placeholder="Name of product"
                    value="<%= form.name %>"
                  />
                </div>
                <div class="item-form my-4">
                  <label for="nama">Price</label>
                  <br />
                  <input
                    class="w-full border-[1px] border-gray-300 rounded-md shadow-sm p-1"
                    type="number"
                    name="price"
                    placeholder="Price of product"
                    value="<%= form.price %>"
                  />
                </div>
              </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <button
                type="submit"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="list-product" class="flex-initial w-2/3 p-8">
        <div
          class="bg-white w-full min-h-full p-8 shadow overflow-hidden rounded-md"
        >
          <div id="panel-product" class="flex flex-wrap">
            <table class="table-auto w-full">
              <thead>
                <tr class="bg-indigo-600 text-center">
                  <th
                    class="w-2/5 min-w-[160px] text-md text-white py-2 lg:py-2 px-3 lg:px-4 border-l border-transparent"
                  >
                    Name
                  </th>
                  <th
                    class="w-1/5 min-w-[160px] text-md text-white py-2 lg:py-2 px-3 lg:px-4"
                  >
                    Price
                  </th>

                  <th
                    class="w-2/5 min-w-[160px] text-md text-white py-2 lg:py-2 px-3 lg:px-4 border-r border-transparent"
                  >
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach( product => { %>
                <tr>
                  <td
                    class="text-left font-thin py-2 px-2 bg-[#F3F6FF] border-b border-l border-[#E8E8E8]"
                  >
                    <%= product.name %>
                  </td>
                  <td
                    class="text-center font-thin py-2 px-2 bg-white border-b border-[#E8E8E8]"
                  >
                    <%= product.price %>
                  </td>
                  <td
                    class="text-center font-thin py-2 px-2 bg-white border-b border-r border-[#E8E8E8]"
                  >
                    <a
                      href="/edit/<%= product.id %>"
                      class="text-sm border border-primary py-2 px-6 text-primary inline-block rounded hover:bg-indigo-600 hover:text-white"
                    >
                      Edit
                    </a>
                    <a
                      href="/delete/<%= product.id %>"
                      class="text-sm border border-primary py-2 px-6 text-primary inline-block rounded hover:bg-red-500 hover:text-white"
                    >
                      Delete
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
